<div class="crucible-card crucible-competency-detail">
  <div class="crucible-card__header">
    <div class="crucible-card__icon">🏷️</div>
    <div class="crucible-card__titlewrap">
      <div class="crucible-card__title">{{cardtitle}}</div>
      <div class="crucible-card__subtitle">
        {{#framework}}<strong>{{framework}}</strong>{{/framework}}
        {{#idnumber}}<span class="crucible-competency-detail__idnumber">{{idnumber}}</span>{{/idnumber}}
      </div>
    </div>
  </div>

  <div class="crucible-card__body">
    <section class="crucible-competency-panel">
      <h2 class="crucible-competency-panel__heading">{{#str}} courses, block_crucible {{/str}}</h2>
      {{#hascourses}}
        <ul class="crucible-competency-panel__list">
          {{#courses}}
            <li class="crucible-competency-panel__item">
              <a class="crucible-competency-panel__link" href="{{url}}">{{fullname}}</a>
              {{#category}}<div class="crucible-competency-panel__meta">{{#str}} category, block_crucible {{/str}}: {{.}}</div>{{/category}}
              {{#actcount}}<div class="crucible-competency-panel__meta crucible-competency-panel__meta--spaced">{{actcount}} {{#str}} activities, block_crucible {{/str}}</div>{{/actcount}}
            </li>
          {{/courses}}
        </ul>
      {{/hascourses}}
      {{^hascourses}}<p class="crucible-competency-panel__empty">{{#str}} nocoursesmapped, block_crucible {{/str}}</p>{{/hascourses}}
    </section>

    <section class="crucible-competency-panel">
      <h2 class="crucible-competency-panel__heading">{{#str}} activitiesandresources, block_crucible {{/str}}</h2>
      {{#hasactivities}}
        {{#bycourse}}
          <div class="crucible-competency-panel__item">
            <div class="crucible-competency-panel__course"><a href="{{courseurl}}">{{coursename}}</a></div>
            <ul class="crucible-competency-panel__activities">
              {{#activities}}
                <li class="crucible-competency-panel__activity"><a href="{{url}}">{{name}}</a></li>
              {{/activities}}
            </ul>
          </div>
        {{/bycourse}}
      {{/hasactivities}}
      {{^hasactivities}}<p class="crucible-competency-panel__empty">{{#str}} noactivitiesmapped, block_crucible {{/str}}</p>{{/hasactivities}}
    </section>
  </div>
</div>
