<div class="crucible-competency-disambiguation">
  {{#groups}}
    <div class="crucible-competency-framework-group">
      {{> block_crucible/framework_heading }}
      {{> block_crucible/competency_view }}
    </div>
  {{/groups}}
</div>
