<div class="crucible-card crucible-competency-detail">
  <div class="crucible-card__header">
    <div class="crucible-card__icon">🏷️</div>
    <div class="crucible-card__titlewrap">
      <div class="crucible-card__title">{{{cardtitle}}}</div>
      <div class="crucible-card__subtitle">
        {{#framework}}<strong>{{framework}}</strong>{{/framework}}
        {{#idnumber}}<span class="crucible-competency-detail__idnumber">{{idnumber}}</span>{{/idnumber}}
      </div>
    </div>
  </div>

  <div class="crucible-card__body">
    {{> block_crucible/competency_panels }}
  </div>
</div>
