{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template block_crucible/landing

    This template renders the cards view for the crucible block.

    Example context (json):
    {
    }
}}

{{!
    @template block_crucible/landing

    This template renders the cards view for the crucible block.

    Example context (json):
    {
    }
}}

<style>
    .applications-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        gap: 15px;
    }

    .application-block {
        border: 1px solid #ccc;
        padding: 10px;
    }

    .application-title {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 5px;
    }

    .application-link {
        font-size: 14px;
    }

    .application-image {
    max-width: 100%;
    max-height: 100px; /* Adjust the max height as needed */
    display: block;
    margin: 0 auto; /* Center the image horizontally */
    }
</style>

<p>Welcome to the Crucible enabled Moodle server!</p>

<div class="applications-grid">
{{#player}}
    <div class="application-block" id="player">
        <div class="application-title">Player</div>
        <div class="application-link"><a href = "{{player}}">
            <img class="application-image" src="http://10.211.55.23/blocks/crucible/pics/crucible-icon-player.png" alt="Player">
            </a>
        </div>
    </div>
{{/player}}

{{#blueprint}}
    <div class="application-block" id="blueprint">
        <div class="application-title">Blueprint</div>
        <div class="application-link"><a href = "{{blueprint}}">
            <img class="application-image" src="http://10.211.55.23/blocks/crucible/pics/crucible-icon-blueprint.png" alt="Blueprint">
            </a>
        </div>
    </div>
{{/blueprint}}

{{#cite}}
    <div class="application-block" id="cite">
        <div class="application-title">CITE</div>
        <div class="application-link"><a href = "{{cite}}">
            <img class="application-image" src="http://10.211.55.23/blocks/crucible/pics/crucible-icon-cite.png" alt="Cite">
            </a>
        </div>
    </div>
{{/cite}}

{{#gallery}}
    <div class="application-block" id="gallery">
        <div class="application-title">Gallery</div>
        <div class="application-link"><a href = "{{gallery}}">
            <img class="application-image" src="http://10.211.55.23/blocks/crucible/pics/crucible-icon-gallery.png" alt="Gallery">
            </a>
        </div>
    </div>
{{/gallery}}

{{#steamfitter}}
    <div class="application-block" id="steamfitter">
        <div class="application-title">Steamfitter</div>
        <div class="application-link"><a href = "{{steamfitter}}">
            <img class="application-image" src="http://10.211.55.23/blocks/crucible/pics/crucible-icon-steamfitter.png" alt="Steamfitter">
            </a>
        </div>
    </div>
{{/steamfitter}}

</div>
