{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.

    Crucible Applications Landing Page Block for Moodle

    Copyright 2024 Carnegie Mellon University.

    NO WARRANTY. THIS CARNEGIE MELLON UNIVERSITY AND SOFTWARE ENGINEERING INSTITUTE MATERIAL IS FURNISHED ON AN "AS-IS" BASIS. 
    CARNEGIE MELLON UNIVERSITY MAKES NO WARRANTIES OF ANY KIND, EITHER EXPRESSED OR IMPLIED, AS TO ANY MATTER INCLUDING, BUT NOT LIMITED TO, 
    WARRANTY OF FITNESS FOR PURPOSE OR MERCHANTABILITY, EXCLUSIVITY, OR RESULTS OBTAINED FROM USE OF THE MATERIAL. 
    CARNEGIE MELLON UNIVERSITY DOES NOT MAKE ANY WARRANTY OF ANY KIND WITH RESPECT TO FREEDOM FROM PATENT, TRADEMARK, OR COPYRIGHT INFRINGEMENT.
    Licensed under a GNU GENERAL PUBLIC LICENSE - Version 3, 29 June 2007-style license, please see license.txt or contact permission@sei.cmu.edu for full 
    terms.

    [DISTRIBUTION STATEMENT A] This material has been approved for public release and unlimited distribution. Please see Copyright notice for non-US Government use and distribution.

    This Software includes and/or makes use of Third-Party Software each subject to its own license.
    
    DM24-1176
}}
{{!
    @template block_crucible/landing

    This template renders the cards view for the crucible block.

    Example context (json):
    {
        "player": "https://player.example.com",
        "blueprint": "https://blueprint.example.com"
    }
}}
{{^welcomemessage}}
    <h5>Hello {{username}}! Welcome to {{sitename}}. </h5> <br>
{{/welcomemessage}}

{{#welcomemessage}}
    <h5>{{welcomemessage}} </h5> <br>
{{/welcomemessage}}


<div class="applications-grid">
    {{#topomojo}}
        <div class="application-block" id="topoMojo">
            <div class="application-content">
                <div class="application-details">
                    <div class="application-title">TopoMojo</div>
                    <div class="application-description">{{topomojoDescription}}</div>
                </div>
                <div class="application-link">
                    <a href = "{{topomojo}}" target="_blank">
                        <img class="topo-image" src="{{topomojoLogo}}" alt="TopoMojo">
                    </a>
                </div>
            </div>
        </div>
    {{/topomojo}}
    {{#gameboard}}
        <div class="application-block" id="gameboard">
            <div class="application-content">
                <div class="application-details">
                    <div class="application-title">Gameboard</div>
                    <div class="gameboard-description">{{gameboardDescription}}</div>
                </div>
                <div class="application-link">
                    <a href = "{{gameboard}}" target="_blank">
                        <img class="gameboard-image" src="{{gameboardLogo}}" alt="Gameboard">
                    </a>
                </div>
            </div>
        </div>
    {{/gameboard}}
    {{#misp}}
        <div class="application-block" id="misp">
            <div class="application-content">
                <div class="application-details">
                    <div class="application-title">MISP</div>
                    <div class="misp-description">{{mispDescription}}</div>
                </div>
                <div class="application-link">
                    <a href = "{{misp}}" target="_blank">
                        <img class="misp-icon" src="{{mispLogo}}" alt="Misp">
                    </a>
                </div>
            </div>
        </div>
    {{/misp}}
    {{#player}}
        <div class="application-block" id="player">
            <div class="application-content">
                <div class="application-details">
                    <div class="application-title">Player</div>
                    <div class="application-description">{{playerDescription}}</div>
                </div>
                <div class="application-link">
                    <a href="{{player}}" target="_blank">
                        <img class="application-image" src="{{playerLogo}}" alt="Player">
                    </a>
                </div>
            </div>
        </div>
    {{/player}}

    {{#alloy}}
        <div class="application-block" id="alloy">
            <div class="application-content">
                <div class="application-details">
                    <div class="application-title">Alloy</div>
                    <div class="application-description">{{alloyDescription}}</div>
                </div>
                <div class="application-link">
                    <a href="{{alloy}}" target="_blank">
                        <img class="application-image" src="{{alloyLogo}}" alt="Alloy">
                    </a>
                </div>
            </div>
        </div>
    {{/alloy}}

    {{#blueprint}}
        <div class="application-block" id="blueprint">
            <div class="application-content">
                <div class="application-details">
                    <div class="application-title">Blueprint</div>
                    <div class="application-description">{{blueprintDescription}}</div>
                </div>
                <div class="application-link">
                    <a href="{{blueprint}}" target="_blank">
                        <img class="application-image" src="{{blueprintLogo}}" alt="Blueprint">
                    </a>
                </div>
            </div>
        </div>
    {{/blueprint}}

    {{#caster}}
        <div class="application-block" id="caster">
            <div class="application-content">
                <div class="application-details">
                    <div class="application-title">Caster</div>
                    <div class="application-description">{{casterDescription}}</div>
                </div>
                <div class="application-link">
                    <a href = "{{caster}}" target="_blank">
                        <img class="application-image" src="{{casterLogo}}" alt="Caster">
                    </a>
                </div>
            </div>
        </div>
    {{/caster}}

    {{#cite}}
        <div class="application-block" id="cite">
            <div class="application-content">
                <div class="application-details">
                    <div class="application-title">CITE</div>
                    <div class="application-description">{{citeDescription}}</div>
                </div>
                <div class="application-link">
                    <a href = "{{cite}}" target="_blank">
                        <img class="application-image" src="{{citeLogo}}" alt="Cite">
                    </a>
                </div>
            </div>
        </div>
    {{/cite}}

    {{#gallery}}
        <div class="application-block" id="gallery">
            <div class="application-content">
                <div class="application-details">
                    <div class="application-title">Gallery</div>
                    <div class="application-description">{{galleryDescription}}</div>
                </div>
                <div class="application-link">
                    <a href = "{{gallery}}" target="_blank">
                        <img class="application-image" src="{{galleryLogo}}" alt="Gallery">
                    </a>
                </div>
            </div>
        </div>
    {{/gallery}}

    {{#roundcube}}
        <div class="application-block" id="roundcube">
            <div class="application-content">
                <div class="application-details">
                    <div class="application-title">Roundcube</div>
                    <div class="application-description">{{roundcubeDescription}}</div>
                </div>
                <div class="application-link">
                    <a href = "{{roundcube}}" target="_blank">
                        <img class="application-image" src="{{roundcubeLogo}}" alt="Roundcube">
                    </a>
                </div>
            </div>
        </div>
    {{/roundcube}}

    {{#rocket}}
        <div class="application-block" id="rocket">
            <div class="application-content">
                <div class="application-details">
                    <div class="application-title">Rocket.Chat</div>
                    <div class="application-description">{{rocketDescription}}</div>
                </div>
                <div class="application-link">
                    <a href = "{{rocket}}" target="_blank">
                        <img class="rocketchat" src="{{rocketLogo}}" alt="RocketChat">
                    </a>
                </div>
            </div>
        </div>
    {{/rocket}}

    {{#steamfitter}}
        <div class="application-block" id="steamfitter">
            <div class="application-content">
                <div class="application-details">
                    <div class="application-title">Steamfitter</div>
                    <div class="application-description">{{steamfitterDescription}}</div>
                </div>
                <div class="application-link">
                    <a href = "{{steamfitter}}" target="_blank">
                        <img class="application-image" src="{{steamfitterLogo}}" alt="Steamfitter">
                    </a>
                </div>
            </div>
        </div>
    {{/steamfitter}}
</div>
