{{!
  @template block_crucible/landing
}}
<div class="imcite-card imcite-apps">
  <!-- Header -->
  <div class="imcite-card__header">
    <div class="imcite-card__icon">🧩</div>
    <div class="imcite-card__titlewrap">
      <div class="imcite-card__title">{{cardtitle}}</div>

      {{#welcomemessage}}
        <div class="imcite-card__subtitle">{{welcomemessage}}</div>
      {{/welcomemessage}}
      {{^welcomemessage}}
        <div class="imcite-card__subtitle">
          {{#str}} appswelcome, block_crucible {{/str}}
          <strong>{{username}}</strong> · {{sitename}}
        </div>
      {{/welcomemessage}}
    </div>
  </div>

  <!-- Body -->
  <div class="imcite-card__body">
    <div class="apps-grid">

      {{#orderedapps}}
        <div class="app-card" id="{{key}}">
          <div class="app-card__content">
            <div class="app-card__details">
              <div class="app-card__title">{{name}}</div>
              <div class="app-card__desc">{{{description}}}</div>
            </div>
            <div class="app-card__link">
              <a href="{{url}}" target="_blank">
                <img class="app-card__logo" src="{{logo}}" alt="{{name}}">
              </a>
            </div>
          </div>
        </div>
      {{/orderedapps}}

    </div>
  </div>
</div>

{{#hasdragdrop}}
  {{#js}}
    require(['block_crucible/apporder'], function(AppOrder) {
      AppOrder.init('.apps-grid');
    });
  {{/js}}
{{/hasdragdrop}}
